.bar-slider {
    background-color: transparent;
    border: solid 1px #c0c0c0;
    border-radius: 4px;
    cursor: pointer;
}
.bs-horizontal-type {
    height: 20px;
    padding: 2px 8px;
    width: 300px;
}
.bs-vertical-type {
    height: 300px;
    padding: 8px 2px;
    width: 20px;
}
.bar-slider.disabled {
    opacity: 0.5;
}
.bs-range-base {
    border: solid 1px #c0c0c0;
}
.bs-range-bar {
    background-color: #c0c0c0;
}
.bs-horizontal-type .bs-range-bar {
    width: 50%;
}
.bs-vertical-type .bs-range-bar {
    height: 50%;
}
.bs-range-bar.active {
    background-color: #c8c8c8;
}
.bs-horizontal-type .bs-transition .bs-range-bar {
    transition: width 0.2s;
    -moz-transition: width 0.2s;
    -webkit-transition: width 0.2s;
    -ms-transition: width 0.2s;
    -o-transition: width 0.2s;
}
.bs-vertical-type .bs-transition .bs-range-bar {
    transition: height 0.2s;
    -moz-transition: height 0.2s;
    -webkit-transition: height 0.2s;
    -ms-transition: height 0.2s;
    -o-transition: height 0.2s;
}
